<div class="user-details">
  <h2>Current Interns</h2>
  <p>Here at CP Handheld we have a number of interns that work and gain experience with our senior developers 
    over the school year. We encourage them to not only focus on their strengths, but to dip into other avenues
    of computer science. This growth mindset we foster helps them keep on track with constantly evolution in technology 
    and engineering. In addition they also can teach us concepts we may only heard rumors about.
  </p>
</div>
<!-- Alyssa -->
<div class="user-projects">
    <div class="images-left">
      <img alt="Alyssa" src="{{ "/assets/img/internAlyssa.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Alyssa Pinkston</h3>
      <ul>
        <li>School: Rose-Hulman Institute of Technology</li>
        <li>Major: Software Engineering and Computer Science, concentration on Security and AI</li>
        <li>Areas of interest: Cybersecurity, Data Encryption, AI, applied mathematics</li>
        <li>Projects: Machine Learning with Swift/iOS development, API calls, Virus reserch/applicaiton</li>
      </ul>
      <p></p>Alyssa is our in-house developer that focuses on how viruses are created and implemented
    on Windows and Mac currently. She's worked with both the Swift/iOS development team as well as with the embedded systems 
  engineers. She is part of the ROSE-BUD program and will be joining the robotics and cybersecurity club. Her other hobbies
include reading, playing piano, baking, sketching, and playing chess.</p>
      <a class="project-link" href="https://github.com/alyssapinkston">Github Profile</a>
    </div>
  </div>

<!-- Christian -->

<div class="user-projects">
  <div class="images-left">
    <img alt="Christian" src="{{ "/assets/img/internChristian.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Christian Elfreich</h3>
    <ul>
      <li>School: Purdue University</li>
      <li>Major: Computer Science</li>
      <li>Areas of interest:iOS Mobile Application programming, Video Game Design, Drone Applications, Angular Web Application programming, AWS Lamba/API Gateway/S3</li>
      <li>Projects: <a href="https://github.com/celfreich3/VisionOCR">VisionOCR</a></li>
    </ul>
    <p>Christian is our head developer on SwiftOCR programming. He oversaw the construction and completetion of the 
      VIN Mobile app to be released. In his off time, Christian enjoys weight lifting, working on his car, video games , and board games.  </p>
    <a class="project-link" href="https://github.com/celfreich3/">Github Profile</a>
  </div>
</div>

<!-- Cade -->

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/internCade.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Cade Rock </h3>
    <ul>
      <li>School: Butler University </li>
      <li>Major: Actuarial Science and Statistics</li>
      <li>Areas of Interest: Probability, Statistics, Sabermetrics </li>
      <li>Projects: Vinpoint Mobile App, Python Pandas </li>
    </ul>
    <p>Cade worked on the Vinpoint Mobile app and now currently works on a base36 converting vin project. I played soccer all my life. GOATed on the sticks (Xbox controller). You don't want this smoke in Spikeball</p>
    <a class="project-link" href="">Github Profile</a>
  </div>
</div>

<!-- Emma -->

<div class="user-projects">
    <div class="images-left">
      <img alt="Emma" src="{{ "/assets/img/Emmapic.PNG" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Emma Jones </h3>
      <ul>
        <li>School:  Ball State University</li>
        <li>Major: Computer Science</li>
        <li>Areas of Interest:  Web Development, Software Engineering</li>
        <li>Projects: Tesseract web Tool, VIN generator  </li>
      </ul>
      <p>Emma started with us this summer and focuses on user interface and web design. She's been apart of developing
        the final design on our Tesseract project. In her spare time, she enjoys
        nintendo games, art, reading, and watching science-fiction movies. 
      </p>
      <a class="project-link" href="https://github.com/emjones3700">Github Profile</a>
    </div>
</div>

<!-- Griff -->

<div class="user-projects">
    <div class="images-left">
      <img alt="Griff" src="{{ "/assets/img/Griffpic.PNG" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Griff Morrison </h3>
      <ul>
        <li>School: Indiana University</li>
        <li>Major: Computer Science, specilization in AI</li>
        <li>Areas of Interest: Game Design, Programming, Machine Learning via Neural Networks</li>
        <li>Projects: SwiftOCR for VIN detection, Firebase OCR </li>
      </ul>
      <p>Griff is an in-house developer that is part of the SwiftOCR team. He also has interest
        in game design and has developed small games for the other interns currently here. In his spare 
        time he enjoys developing small indie games to improve his skills.
      </p>
      <a class="project-link" href="https://github.com/banane42">Github Profile</a>
    </div>
</div>

<!-- Hans -->

<div class="user-projects">
  <div class="images-left">
     <img alt="Hans" src="{{ "/assets/img/interHans.PNG" | prepend: site.baseurl }}" />
  </div>
    <div class="contents-right">
      <h3> Hans Lagenour </h3>
      <ul>
        <li>School: Indiana University, University of Southern Indiana</li>
        <li>Major: Professional/Technical Writing, Computer Science</li>
        <li>Areas of Interest: Technical Documentation, Cybersecurity, Databases, SQL, Robotics, 
          </li>
        <li>Projects: SOTI documentation, Jekyll documentaiton, Hansetta Stone, Altium getting started </li>
      </ul>
      <p>Hans is a dual major, using his Professional/Technical writing ability from Indiana University 
        and applying it with his Computer Science degree he is currently acquiring at the University of Southern Indiana. 
        He oversees many documents related to our projects completion through testing and translates the technical process for both
        professional and general audiences.</p>
        <p>In his spare time, Hans enjoys reading and writing on various subjects. He's an avid fan of 
          MLB and enjoys talking about the analytics side of baseball.  </p>

      <a class="project-link" href="https://github.com/hdlag91">Github Profile</a>
    </div>
</div>

<!-- Joseph -->

<div class="user-projects">
    <div class="images-left">
      <img alt="Joseph" src="{{ "/assets/img/Joseph01.PNG" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Joseph Klein </h3>
      <ul>
        <li>School: University of Southern Indiana</li>
        <li>Major: Computer Science</li>
        <li>Areas of Interest: Machine Learning/Network Maintenance/IOS Apps/Hardware Installs</li>
        <li>Projects: VIN Recognition</li>
      </ul>
      <p>Joseph is part of our development team that works in Swift. He's been contributing to our project
        assisting and leading in VIN recognition software. 
      </p>
      <a class="project-link" href="https://github.com/Morssel">Github Profile</a>
    </div>
</div>

<!-- Matt -->

<div class="user-projects">
    <div class="images-left">
      <img alt="Matt" src="{{ "/assets/img/internMatt.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Matt Horten </h3>
      <ul>
        <li>School: University of Evansville</li>
        <li>Major: Computer Engineering</li>
        <li>Areas of Interest: Electromechanical, automation</li>
        <li>Projects: BG96, cellular modem projects, automatic blind opener</li>
      </ul>
      <p>Matt is part of the computer engineering department. He's helped developed some of the printer boards being used
        here ate the comapny. His hobbies include fixing and selling cars and motorcycles.
      </p>
      <a class="project-link" href="https://github.com/MattHorton">Github Profile</a>
    </div>
</div>

<!-- Tyler -->

<div class="user-projects">
    <div class="images-left">
      <img alt="Tyler" src="{{ "/assets/img/internTyler.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Tyler Meserve </h3>
      <ul>
        <li>School: Indiana University Southeast</li>
        <li>Major: Computer Science</li>
        <li>Areas of Interest: Artificial intelligence, restful api's, game development, software development</li>
        <li>Projects: Tesseract Parser, catm1_bg96</li>
      </ul>
      <p>Tyler is an in-house developer that mainly works in Python. He enjoys playing videogames and coding in his
        spare time.</p>
        <a class="project-link" href="https://github.com/tmeserve">Github Profile</a>
      </p>
    </div>
</div>

<!-- Style -->
<style>
  img {
  height: 400px;
  width: 400px;
  
</style>