<div class="user-details">
    <h2>Project Docs</h2>
</div>
<div class="user-details">
    <p>Here is a list of our documentation and projects that we have completed. Click on the button to
        learn more about our projects (More to come).</p>
        <a href="https://CPHT.github.io/CPH_Page/DocumentationPractice/" class="button4">Hansetta Stone</a>
        <a href="https://CPHT.github.io/CPH_Page/AltiumGettingStarted/" class="button4">Altium Getting Started</a>
        
</div>

<!--Style-->
<style>
.button4 {
    background-color: rgba(76, 78, 175, 0.5); 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20%;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  
  .button4:hover {
    background-color: rgba(8, 9, 100, 0.747);
    color: white;
  }
  .button4 {border-radius: 20%;}
</style>
